@import './styles.css';

h1:hover,
.header:hover,
p:hover, {
  transform: scale(1.025) !important;
}

h1:hover:hover:first-letter,
.header:hover:first-letter,
p:hover:first-letter {
  font-weight: bold;
  font-size: 1.3em;
}
